head
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")


body
  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")
    div(class="navbar navbar-inverse")
      div(class="navbar-header")
        a(class="navbar-brand" href="#") Brand

      div(class="navbar-collapse collapse navbar-inverse-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="#") Active
          li
            a(href="#") Link

    div(id="container")
      div(id="heading")
        h1 Hello new pretty world!
        br

      div(id="mobile-taglist" class="hidden-lg hidden-md hidden-sm col-xs-12")
        div(class="btn-group btn-group-justified" role="group")
          a(href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")='Dropdown '
            span(class="caret")
          ul(class="dropdown-menu" role="menu")
            li
              a(href="#")='Love ' + 42
            li
              a(href="#")='Date ' + 17

      div(id="side-buttons" class="col-lg-2 col-md-2 col-sm-2 hidden-xs")
        ul(class="nav nav-pills nav-stacked")
          li
            a(href="#")='Love '
              span(class="badge") 42
          li
            a(href="#")='Date '
              span(class="badge") 17

      div(id="stories-container" class="col-lg-10 col-md-10 col-sm-10 col-xs-12")
        each val in posts
          div(class="posts")
            h4= val.header
            p(class="text-muted") tratata
            p= val.text
            br

  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
