head
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")

body
  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")

    div(class="navbar navbar-static-top navbar-default")

      div(class="container")

        div(class="navbar-header")
          a(class="navbar-brand" href="#")='Brand'

        ul(class="nav navbar-nav")
          li
            a(href="#")='Главная'
          li
            a(href="#")='О нас'
          li
            a(href="#")='Рассказать историю'

    div(id="content-container")

      // TODO: created dropdown list-group for mobile users uses react.js !!!
      div(id="mobile-list" class="hidden-lg hidden-md hidden-sm col-xs-12")
        button(class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#mobile-list-tags" aria-expanded="false" aria-controls="mobile-list-tags")='Выбрать тему'

        div(class="collapse" id="mobile-list-tags")
          ul(class="list-group")
            li(class="list-group-item")
              a(href="#")='Love '
                span(class="badge")='42'
            li(class="list-group-item")
              a(href="#")='Date '
                span(class="badge")='17'

      div(id="side-buttons" class="col-lg-2 col-md-2 col-sm-2 hidden-xs")
        div(class="big-logo-container" style="height=100px;width=100px;")

        ul(class="nav nav-pills nav-stacked")
          li
            a(href="#")='Love '
              span(class="badge") 42
          li
            a(href="#")='Date '
              span(class="badge") 17

      div(id="stories-container" class="col-lg-10 col-md-10 col-sm-10 col-xs-12")
        div(id="heading" class="col-lg-12 col-md-12 col-sm-12 hidden-xs")
          h1 Hello new pretty world!
          br

        each val in posts
          div(class="posts")
            h4= val.header
            p(class="text-muted") tratata
            p= val.text
            br

  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
